@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "PP Neue Montreal";
  background-color: #0f0f0f;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
  font-family: "Dela Gothic One", sans-serif;
  text-transform: uppercase;
}

h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
  font-family: "Dela Gothic One", sans-serif;
  text-transform: uppercase;
  margin-right: 2rem;
}

a,
p {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.blurry-prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(80px);
  background: rgb(15, 15, 15, 0.5);
}

.col {
  position: relative;
  padding: 1em;
}

.site-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

nav {
  display: flex;
  gap: 1em;
}

.header {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

hr {
  margin: 1rem 0;
}

.copy .button {
  display: flex;
  margin-top: 1rem;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-family: "Work Sans", sans-serif;
  transition: all 0.3s ease;
  cursor: pointer;
}


.copy .button:hover {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}

.project-preview {
  flex: 2;
}

.project-details {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 100%;
}

.title {
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
}

.info {
  margin-bottom: 1em;
  width: 50%;
}

.title,
.caracteristicas,
.servicio,
.descripcion,
.line {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.title h1 {
  position: relative;
  transform: translateY(40px);
  will-change: transform;
}

.info p .line span,
.caracteristicas p,
.servicio p,
.descripcion p {
  display: inline-block;
  position: relative;
  transform: translateY(20px);
  will-change: transform;
}

.project-img {
  position: absolute;
  left: 1em;
  bottom: 1em;
  width: 75%;
  height: 300px;
  /* Define la altura deseada */
  overflow-y: scroll;
  /* Scroll vertical */
  overflow-x: hidden;
  /* Evita el scroll horizontal */
  scrollbar-width: thin;
  /* Scroll minimalista para Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  /* Color del scroll para Firefox */
  will-change: transform;
}

/* Scrollbar minimalista para Chrome, Edge, Safari */
.project-img::-webkit-scrollbar {
  width: 4px;
  /* Scroll fino */
}

.project-img::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  /* Color sutil */
  border-radius: 10px;
  /* Bordes redondeados */
}

.project-img::-webkit-scrollbar-track {
  background: transparent;
  /* Fondo transparente */
}

.project-img img {
  width: 100%;
  height: auto;
  /* Mantén el aspecto de las imágenes */
}


.gallery-wrapper {
  z-index: 2;
  overflow: auto;
  padding: 0.75em;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}

.gallery {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.item {
  position: relative;
  flex: 1;
  background-color: #aeaeae;
  height: 100%;
  max-height: 120px;
}

.item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  transition: background-color 0.5s ease-in-out;
  transition-delay: 0.5s;
}

.item.active::after {
  background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .site-info {
    display: flex;
    flex-direction: column;
    height: auto;
    /* Ajusta la altura según el contenido */
    flex: 0;
    /* Permite que el tamaño se ajuste según el contenido del nav */
    border-left: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .site-info .header,
  .site-info .copy {
    display: none;
    /* Oculta el contenido adicional */
  }

  nav {
    display: block;
    /* Asegura que el nav se muestre */
  }

  .info {
    margin-bottom: 1em;
    width: 90%;
  }

  .title h1,
  .title h2 {
    font-size: 1.5rem;
  }

  .project-preview {
    flex: 1;
    /* Ocupa el espacio restante */
  }

  .project-details {
    width: 100%;
  }

  .project-img {
    width: 93%;
  }

  .gallery-wrapper {
    border-right: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .gallery {
    width: 300vw;
    height: 100px;
    flex-direction: row;
  }

  .caracteristicas,
  .servicio,
  .descripcion {
    display: none;
  }
}